// mixins
@mixin flexprob($color){
    width:95vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border: 2px solid red;
    background-color: $color;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    padding: 10px;
}