body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 /* border: 2px solid red; */
}
.container-1{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container-2{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.box2{
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
    width:35%;
}.box1{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    width:35%;
}.box3{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    width:35%;
}
.container-3{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img{
    width:200px;
    height:200px;
    background-color: lightgray;
}