body {
  margin: 0;
  font-family: Arial, sans-serif;

}

.footer {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.footer-left {
  width: 30%;
  padding: 20px;
  margin-left: -160px;
}

.footer-left h2 {
  font-size: 24px;
}

.footer-left p {
  color: #666;
  font-size: 14px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.social-icons img {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.footer-column h3 {
  font-size: 18px;
  padding-bottom: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 0;
  padding-bottom: 30px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #333;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 20px;
  font-size: 14px;
  align-items: center;
}

.footer-policy a {
  text-decoration: none;
  color: black;
  margin-left: 120px;
  text-align: right;

  padding-left: 40px;
  padding-top: 30px;
}
.footer-bottom p {
  padding-top: 10px;
  margin-left: -145px;
}
